body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #333;
}
.ancho50{
    width: 50%;
    background-color: aqua;
    border: #333 solid 2px;
    /*height: 200px;*/
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 100px;
    opacity: 0.8;

}

p{
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;

    margin: 20px 40px;

}
.padding{
    width: 80%;
    padding: 20px 40px;
    background-color: aliceblue;
    border: #333 solid 2px;
    margin-bottom: 40px;
    /*justificar el texto*/
    text-align: justify;
    box-shadow: #999 5px 5px 10px;
}
